body {
    margin: 0;
    padding: 0;
}
input[type=text] {
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family:Arial;
    font-size:larger;
}
input[type=password] {
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family:Arial;
    font-size:larger;
}
input[type=email] {
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family:Arial;
    font-size:larger;
}
input[type=date] {
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family:Arial;
    font-size:large;
}
textarea {
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family:Arial;
    font-size:larger;
}
input[type=submit] {
    background-color: rgb(97,97,97);
    color: white;
    padding: 14px 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family:Calibri;
    font-size:x-large;
}
input[type=submit]:hover {
    background-color: rgb(251,192,45);
    color:#000000;
}
select{
    width: 100%;
    padding: 10px 20px;
    margin: 20px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family:Arial;
    font-size:large;
}
table {
    align-self:center;
    align-content:center;
    border-collapse:collapse;
    border-spacing:0;
    display:grid;
}
div {
    background-color:#ffffff;
    width:100%;
}
.labels {    
    font-family:Georgia;
    font-size:x-large;
}
.name a:link {
    text-decoration: none;
    font-family:Georgia;
    font-size:x-large;
    color:black;
}

.fileupload {
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family:Arial;
    font-size:larger;
    background-color:white;
}


ul {
    list-style-type:none;
    overflow: hidden;
    width:99.7%!important;
    background-color: rgb(251,192,45);
    border: 3px solid rgb(251,192,45);
}
li {
    height:50px;
    width:120px;       
}

li:last-child {
    float:right!important;
    background-color:rgb(97,97,97);
    border-radius:4px;
}
li:hover:not(.active) {
    background-color: rgba(39,45,78,0.9);
}
li a {
    text-align: center;
    padding:10px 18px!important;
}
li a:hover:not(.active) {
    color:aliceblue;
}
li:last-child a{
    color:#ffffff;  
}
li:hover:last-child{
    background-color:#b71c1c;
}

.active {
    background-color: #4CAF50;
}

.listview {
    align-self:center;
    align-content:center;
    border-collapse:collapse;
    border-spacing:0;
    display:grid;
    margin-bottom:30px;
}
.aspNetHidden{
    display:none;
} 

.search {
    background-color:rgb(39,45,78);
    margin-bottom:20px;
}
.search input[type=search] {
    padding:8px 15px;
    background:#ffffff;
    border:1px solid rgb(39,45,78);
    width:300px;
    font-family:Calibri;
    font-size:18px;

    }
.search input[type=submit] {
                padding:8px 15px;
                border:2px solid rgb(39,45,78);
                background-color:rgb(251,192,45);
                color:#000000;
                font-size:18px;
}
.search input[type=submit]:hover  {
                background-color:rgb(97,97,97);
                color:#ffffff;
}

